<h1 class='my-5 title text-center'>Engine Displacement</h1>

<form>

  <div class="row w-100 justify-content-center">
    <legend class="col-form-label col-6 col-md-2 pl-0 align-self-left">Select Units</legend>
  <fieldset class="form-group">
      <div class="col-md-2 col-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="units" id="standard" value="option1" checked>
          <label class="form-check-label">
            Standard
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="units" id="metric" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Metric
          </label>
        </div>
      </div>
  </fieldset>
</div>



  <div class='row w-100 justify-content-center form-group'>
    <label class='col-md-2 col-6 col-form-label'>Bore (in/mm)</label>
    <input id='bore' class='form-control col-6 col-md-2' type="text">
  </div>

  <div class='row w-100 justify-content-center form-group'>
    <label class='col-md-2 col-6 col-form-label'>Stroke (in/mm)</label>
    <input id='stroke' class='form-control col-6 col-md-2' type="text">
  </div>

  <div class='row w-100 justify-content-center form-group'>
    <label class='col-md-2 col-6 col-form-label'>Number of Cylinders</label>
    <input id='cylinders' class='form-control col-6 col-md-2' type="text">
  </div>

  <div class='row w-100 justify-content-center'>
    <input type='button' value='Calculate' class="my-3 btn btn-primary" onclick='calcDisplacement()'></input>
  </div>

</form>

<div class='row w-100 justify-content-center'>
  <h3 id='result' class='my-3 title text-center'></h3>
</div>
