<h1 class='my-5 title text-center'>Engine Displacement</h1>

<form>

  <div class="row w-100 justify-content-center">
    <legend class="col-form-label col-sm-2">Units</legend>
  <fieldset class="form-group">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="units" id="standard" value="option1" checked>
          <label class="form-check-label">
            Standard
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="units" id="metric" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Metric
          </label>
        </div>
      </div>
  </fieldset>
</div>



  <div class='row w-100 justify-content-center form-group'>
    <label class='col-sm-2 col-form-label'>Bore (in/mm)</label>
    <input id='bore' class='form-control col-2' type="text">
  </div>

  <div class='row w-100 justify-content-center form-group'>
    <label class='col-sm-2 col-form-label'>Stroke (in/mm)</label>
    <input id='stroke' class='form-control col-2' type="text">
  </div>

  <div class='row w-100 justify-content-center form-group'>
    <label class='col-sm-2 col-form-label'>Number of Cylinders</label>
    <input id='cylinders' class='form-control col-2' type="text">
  </div>

  <div class='row w-100 justify-content-center'>
    <p class="btn btn-primary" onclick='calcDisplacement()'>Calculate</p>
  </div>

</form>

<p id='result' class='my-3 display-4 title text-center'></p>
