<h1 class='my-5 title text-center'>Engine Displacement</h1>

<form>

  <div class="row w-100 justify-content-center">
    <legend class="col-form-label col-sm-2 pt-0">Units</legend>
  <fieldset class="form-group">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Standard
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Metric
          </label>
        </div>
      </div>
  </fieldset>
</div>



  <div class='row w-100 justify-content-center form-group'>
    <label class='col-sm-2 col-form-label'>Bore (in/mm)</label>
    <input class='form-control col-2' type="text">
  </div>

  <div class='row w-100 justify-content-center form-group'>
    <label class='col-sm-2 col-form-label'>Stroke (in/mm)</label>
    <input class='form-control col-2' type="text">
  </div>

  <div class='row w-100 justify-content-center form-group'>
    <label class='col-sm-2 col-form-label'>Number of Cylinders</label>
    <input class='form-control col-2' type="text">
  </div>

</form>
