<h1 class='my-5 title text-center'>Fuel System</h1>

<div class='row w-100 justify-content-center'>

  <form class='col-md-6 col-12'>

    <h2 class='mt-5 title text-center'>Fuel Pump / Injector</h2>
    <h2 class='mt-0 title text-center'>Flow Rates</h2>
    <p class='text-center font-weight-bold'>Gasoline</p>

    <div class='row w-100 justify-content-center'>

      <fieldset class="form-group">
        <div class="">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="induction" id="supercharged" value="option1">
            <label class="form-check-label">Forced Induction</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="induction" id="n/a" value="option2" checked>
            <label class="form-check-label">Naturally Aspirated</label>
          </div>
        </div>
      </fieldset>

    </div>

    <div class='row w-100 justify-content-center form-group'>
      <label class='col-md-3 col-6 col-form-label align-self-center'>Horsepower</label>
      <input id='hp' class='form-control col-6 col-md-3 mt-2' type="text">
    </div>

    <div class='row w-100 justify-content-center form-group'>
      <label class='col-md-3 col-6 col-form-label'>Number of Cylinders</label>
      <input id='cylinders' class='form-control col-6 col-md-3 mt-2' type="text">
    </div>

    <div class='row w-100 justify-content-center'>
      <input type='button' value='Calculate' class="my-3 btn btn-primary" onclick='calcInjectorFlow()'></input>
    </div>

    <h3 id='result' class='my-4 title text-center'></h3>
    <h3 id='result2' class='my-4 title text-center'></h3>
  </form>

  <form class='col-md-6 col-12'>

    <h2 class='my-5 title text-center'>Fuel Pressure</h2>

    <div class='row w-100 justify-content-center form-group'>
      <label class='col-md-3 col-6 col-form-label text-center'>Original Injector Flow (lbs/hr)</label>
      <input id='flow1' class='form-control col-6 col-md-3 mt-3' type="text">
    </div>

    <div class='row w-100 justify-content-center form-group'>
      <label class='col-md-3 col-6 col-form-label text-center'>Original Pressure (psi)</label>
      <input id='pressure1' class='form-control col-6 col-md-3 mt-2' type="text">
    </div>

    <div class='row w-100 justify-content-center form-group'>
      <label class='col-md-3 col-6 col-form-label text-center'>New Pressure (psi)</label>
      <input id='pressure2' class='form-control col-6 col-md-3 mt-2' type="text">
    </div>

    <div class='row w-100 justify-content-center'>
      <input type='button' value='Calculate' class=" my-3 btn btn-primary" onclick='calcInjectorFlow2()'></input>
    </div>

    <h3 id='result3' class='my-3 title text-center'></h3>

  </form>

</div>
