

<div class='my-5 row w-100 justify-content-center'>
  <h1 class='my-5 title text-center'>Automotive Calculators</h1>
</div>

<div class='row w-100 justify-content-center text-center'>
  <a href="/displacement" class='col-12'><p class='lead'>Engine Displacement<p></a>
</div>

<div class='row w-100 justify-content-center text-center'>
  <a href="/piston_speed" class='col-12'><p class='lead'>Piston Speed<p></a>
  </div>

<div class='row w-100 justify-content-center text-center'>
  <a href="/power" class='col-12'><p class='lead'>Power<p></a>
</div>

<div class='row w-100 justify-content-center text-center'>
  <a href="/fuel" class='col-12'><p class='lead'>Fuel System<p></a>
</div>
